.brand-story {
  width: 100%;
  background-color: #000c24;
  color: #FFFFFF;
  padding: 108px 0;
  text-align: center;
}

.brand-story-content {
  display: flex;
  flex-direction: column;
}

.brand-story-content > strong {
  font-size: 12px;
  color: #F0F0F0;
  font-weight: 300;
  margin-bottom: 20px;
}

.price-infographic {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 55px;
  color: #FFFFFF;
}

.price-infographic dt {
  font-size: 14px;
}

.price-infographic dd {
  width: 88px;
  height: 240px;
  background-color: #CBCBCB;
  border-radius: 4px;
  margin: 0 10px 18px 10px;
  padding-top: 20px;
}

.price-infographic-wisely dd {
  height: 120px;
  background-color: #0055B8;
}

.price-infographic-etc dt {
  color: #CBCBCB;
}

.brand-story-title {
  font-size: 38px;
  margin-bottom: 28px;
  font-weight: 400;
}

.brand-story-desc {
  font-size: 14px;
  margin-bottom: 40px;
  color: #CBCBCB;
}

.brand-story-link {
  font-size: 14px;
}


@media screen and (max-width: 768px) {
  .brand-story {
    padding: 60px 0 69px;
  }

  .price-infographic {
    margin-bottom: 42px;
  }

  .brand-story-content > strong {
    margin-bottom: 24px;
  }

  .brand-story-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .brand-story-desc {
    margin-bottom: 42px;
  }
}