.landing {
  height: 852px;
  background-image: url(../assets/images/main.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 602px auto;
  padding-top: 150px;
}

.landing .container,
.landing .row {
  height: 100%;
}

.landing .col-12 {
  position: relative;
}

.landing-title {
  margin-bottom: 28px;
  text-align: center;
}

.scroll-down-btn {
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/images/Arrow-down.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  animation: scroll-down 1.5s linear .5s infinite;
}


@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate(-50%, -90%);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -60%);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
}

@media screen and (max-width: 768px) {
  .landing {
    background-size: 360px auto;
    height: calc(70vh - 68px);
    padding-top: 55px;
  }
}