.chatBot {
  display: block;
  width: 62px;
  height: 62px;
  overflow: hidden;
  border-radius: 50%;
  background-image: url(./assets/images/chat-box-wiselyshave.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
}

/* .chatBot img {
  width: 100%;
} */