body {
  margin: 0;
  font-family: "SpoqaHanSans",Roboto,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Grid System - Fix container width */
.container {
  max-width: 1140px !important;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    
  }
  .row {
    margin: 0 !important;
  }
}